/* You can add global styles to this file, and also import other style files */
#alert {
  color: red;
}

h1 {
  font-family: Permanent Marker;
}

h2 {
  font-family: Timmana;
}

.output {
  font-family: Libre Baskerville;
  font-size: 125%;
}
